/* CSS RESET */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;

}
html {
    scroll-behavior: smooth;
  }

/* Side Scroll Bar  */
::-webkit-scrollbar {
    width: 10px;
    /* width of the scrollbar */
}

::-webkit-scrollbar-track {
    background-color:transparent;
    /* color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: #253e6e;
    /* color of the scrollbar thumb */
    border-radius: 5px;
    /* rounded corners of the scrollbar thumb */
}

body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    display:block;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

/* ........Navbar....... */

#navbar {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
.navbar-hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

/* logo and Image */

#logo {
    margin: 10px 25px;

}

#logo img {
    margin-left: 30px;
    height: 70px;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;

}

#logo img:hover {
    transform: scale(1.05);
}

/* List Styling ...............................................................*/


#navbar ul {
    display: flex;
    list-style: none;
    font-size: 1.3rem;
}



#navbar ul li {
    list-style: none;
    font-size: 1.2rem;
}

#navbar ul li a {
    display: block;
    padding: 6px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: azure;
    transition: transform 0.1s ease-in-out;

}

#navbar ul li a:hover {
    color: #ffffff;
    /* background-color: aliceblue; */
    cursor: pointer;
    transform: scale(1.15);
    opacity: 100%;

}

/* Home Section */
#Home {
    display: flex;
    flex-direction: column;
    background: url('./Mountain.jpg') no-repeat  center/cover;
    height: 100vh; /* Set the height to the full height of the viewport */
    width: 100vw; /* Set the width to the full width of the viewport */
    padding: 3px 0px;
    justify-content: center;
    align-items: center;
}

#Home #homeContent{
    z-index: 9;
}

#Home::before {
    position:relative;
    /* content: "";
    background: url('./Mountain.jpg') no-repeat  center/cover;
    height: 100vh; 
    width: 100vw; 
    z-index: -1;
    opacity: 75%;
    top: 0px;
    overflow: hidden; */
}

/* Utility Classes */
#Home h1 {
    color: #ffffff;
    text-align: center;
    font-size: 3.5rem;
    text-shadow: 2px 5px 8px #000000;
}

.intro-para p {
    opacity: 100%;
    margin: 0;
    font-size: 1.2rem;
    color: #03152c;
    text-align: center;
}

.h-primary {
    font-size: 2.8rem;
    padding: 12px;
    color: #004aad;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-bottom: -101px;
    margin-top: 30px; */

}

.btn {
    padding: 15px 25px;
    border: 0px;
    background-color: #253e6e;
    color: white;
    margin: 0 17px;
    font-size: 1.15rem;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
}

.btn:hover {
    background-color: #013880;
}

/* About Us */
.about-us {
    background-color: #253e6e;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    height: 100vh;
    width: 100vw;
    top: 0px;   
}

.about-us h1{
    color: white;
    /* text-align: center; */
    padding: 30px;
    width: fit-content;
    height: fit-content;
}

.about-us p{
    height: 100%;
    padding: 0px 250px 15px 250px;
    /* text-align: justify; */
    font-size: 1.4rem;
    color: white;
}
.about-us .button-container2{
    padding: 10px 0px 40px 0px;
    width: fit-content;
    height: fit-content;
    position:relative;
    left:50%;
    transform: translateX(-50%);

}
.about-us .button-container2 .btn2 {
    padding: 10px 25px;
    border: 0px;
    background-color: white;
    color: #253e6e;
    font-size: 1.2rem;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.about-us .button-container2 .btn2:hover {
    transform: scale(1.009);
}

/* Contact SECTION  */


#contact h1{
    position: relative;
    top: 10px;
    color:#004aad;
}

#contact {
    position:relative;
    top: 0px;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
}

#contact::before {
    content: "";
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    opacity: 0.7;
    /* background: url('bg88.jpg') no-repeat center center/cover; */
    /* background-color: #253e6e;
    border-top: 10px #253e6e; */
}

#contact-box{
    position: relative;
    top: 10%;
    left: 0%;
    display: flex;
    height: 70%;
    width: 100%;

}

#contact > div > form{
    height: 100%;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    
}
#contact-box textarea{
    position: relative;
    bottom: 0px;
    resize: none;
    overflow: scroll;
    font-size: 1.1rem;;
    height: 50%;
    width: 90%;
    padding: 2px;
}


#contact-box label,input {
    font-size: 2.1rem;
    background-color: transparent;
    border-radius: 5px;
    margin: 3px;
}

footer {
    position: relative;
    background: #253e6e;
    color: white;
    text-align: center;
}